<div class="card">
  <p class="notice"><%= notice %></p>

  <h2>🎬 <%= @movie.title %></h2>

  <p>Rating: ⭐ <%= @movie.rating %></p>
  <p>Release Date: <%= @movie.release_date.strftime("%b %d, %Y") %></p>
  <p><%= @movie.description %></p>

  <div class="actions">
    <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn-small" %> |
    <%= link_to "Back to movies", movies_path, class: "btn-small" %>
    <%= button_to "Destroy this movie", @movie, method: :delete, class: "btn-danger" %>
  </div>
</div>
